@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Raleway&display=swap');

body {
    color: white;
    background-color: #29362F;
}

h1 {
    color: #2A2B2A;
    font-family: 'Raleway', sans-serif;
    margin: .2em 0 0 .2em;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #2A2B2A;
    margin-left: .7em;
}

.card-style {
    margin: 2em 0 2em 0;
}

#submit-new {
    color: white;
}

.card-color {
    /*background-color: #CAC0C1;*/
    border: 2px solid #884004;
}

.modal-style {
    color: black;
}

.title-style {
    font-family: 'Cinzel Decorative', cursive;;
    color: #CAC0C1;
    font-size: 5.5em;
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 20%;
    text-shadow: 2px 2px black;
}

.title-style-sm {
    font-family: 'Cinzel Decorative', cursive;;
    color: #CAC0C1;
    font-size: 4em;
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 5%;
    text-shadow: 2px 2px black;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.brand-img {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 50px;
    height: 350px;
    margin-bottom: 100px;
}

.brand-img-sm {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 50px;
    height: 350px;
    margin-bottom: 20px;
}

.branding {
    position: relative;
    color: white;
    height: 400px;
    overflow: hidden;
}

.btn-style {
    background-color: #884004;
    font-family: 'Raleway', sans-serif;
    color: #CAC0C1;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

